
.idea/

distributed-monolith/bin/

distributed-monolith/target/

microservices/consumer-service/target/

microservices/producer-service/target/

performance-tests/microservices-results.txt

performance-tests/monolith-results.txt
