spring:
  application:
    name: consumer-service
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  
  datasource:
    url: jdbc:postgresql://${DB_HOST:db}:5432/${DB_NAME:scraperdb}
    username: ${DB_USER:admin}
    password: ${DB_PASSWORD:adminpass}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    listener:
      simple:
        prefetch: 5
        concurrency: 5
        max-concurrency: 10

server:
  port: 8082

queue:
  name: url_queue

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.scraper: DEBUG
    org.springframework.amqp: INFO

