spring:
  application:
    name: distributed-monolith-scraper
  
  datasource:
    url: jdbc:postgresql://${DB_HOST:db}:5432/${DB_NAME:scraperdb}
    username: ${DB_USER:admin}
    password: ${DB_PASSWORD:adminpass}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.scraper: DEBUG
    org.springframework.web: INFO

